$primary: #007bff;
$secondary: tomato;
$title-main-size: 60px;
$title-main-size-media-width-460px: 40px;

$title-main-margin-top: 0;
$title-main-margin-bottom: 30px;

$subtitle-main-margin-top: 20px;
$subtitle-main-margin-bottom: 20px;

$spacing-section-top: 50px;
$spacing-section-bottom: 100px; 

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);